<li class="nav-item <%= "active open" if ["erp/inventory/backend/delivering","erp/deliveries/backend/deliveries","erp/products/backend/products","erp/products/backend/categories"].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-th"></i>
        <span class="title"><%= t('.storage') %></span>
        <% if ["erp/inventory/backend/delivering","erp/deliveries/backend/deliveries","erp/products/backend/products","erp/products/backend/categories"].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item">
            <a href="<%= erp_inventory.backend_delivering_path %>" class="nav-link">
                <span class="title"><%= t('.delivering') %></span>
            </a>
        </li>
        <% if Erp::Core.available?("deliveries") %>
        <li class="nav-item">
            <a href="<%= erp_deliveries.backend_deliveries_path %>" class="nav-link">
                <span class="title"><%= t('.deliveries') %></span>
            </a>
        </li>
        <% end %>
        <% if Erp::Core.available?("products") %>
        <li class="nav-item">
            <a href="<%= erp_products.backend_products_path %>" class="nav-link">
                <span class="title"><%= t('.products') %></span>
            </a>
        </li>
        <li class="nav-item">
            <a href="<%= erp_products.backend_categories_path %>" class="nav-link">
                <span class="title"><%= t('.categories') %></span>
            </a>
        </li>
        <% end %>
    </ul>
</li>