<li class="nav-item <%= "active open" if ["erp/inventory/backend/delivering","erp/deliveries/backend/deliveries",
                                          "erp/products/backend/products","erp/products/backend/categories",
                                          "erp/products/backend/damage_records","erp/products/backend/stock_checks",
                                          "erp/products/backend/brands","erp/products/backend/brand_groups",
                                          "erp/products/backend/comments", "erp/products/backend/ratings", "erp/products/backend/accessories",
                                          "erp/products/backend/property_groups","erp/products/backend/properties","erp/products/backend/events"
                                          ].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-th"></i>
        <span class="title"><%= t('.storage') %></span>
        <% if ["erp/inventory/backend/delivering","erp/deliveries/backend/deliveries","erp/products/backend/products",
               "erp/products/backend/categories","erp/products/backend/damage_records","erp/products/backend/stock_checks",
               "erp/products/backend/brands","erp/products/backend/brand_groups","erp/products/backend/comments", "erp/products/backend/ratings",
               "erp/products/backend/accessories","erp/products/backend/property_groups","erp/products/backend/properties","erp/products/backend/events"
               ].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <% if Erp::Core.available?("online_store") %>
            <% if Erp::Core.available?("products") %>
                <li class="nav-item">
                    <a href="<%= erp_products.backend_products_path %>" class="nav-link">
                        <span class="title"><%= t('.products') %></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= erp_products.backend_categories_path %>" class="nav-link">
                        <span class="title"><%= t('.categories') %></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= erp_products.backend_properties_path %>" class="nav-link">
                        <span class="title"><%= t('.properties') %></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= erp_products.backend_property_groups_path %>" class="nav-link">
                        <span class="title"><%= t('.property_groups') %></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= erp_products.backend_properties_values_path %>" class="nav-link">
                        <span class="title"><%= t('.properties_values') %></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= erp_products.backend_brands_path %>" class="nav-link">
                        <span class="title"><%= t('.brands') %></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= erp_products.backend_brand_groups_path %>" class="nav-link">
                        <span class="title"><%= t('.brand_groups') %></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= erp_products.backend_accessories_path %>" class="nav-link">
                        <span class="title"><%= t('.accessories') %></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= erp_products.backend_comments_path %>" class="nav-link">
                        <span class="title"><%= t('.comments') %></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span class="title"><%= t('.ratings') %></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= erp_products.backend_events_path %>" class="nav-link">
                        <span class="title"><%= t('.events') %></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= erp_products.hkerp_products_backend_products_path %>" class="nav-link">
                        <span class="title">Erp Connector</span>
                    </a>
                </li>
            <% end %>
        <% else %>
            <li class="nav-item">
                <a href="<%= erp_inventory.backend_delivering_path %>" class="nav-link">
                    <span class="title"><%= t('.delivering') %></span>
                </a>
            </li>
            <% if Erp::Core.available?("deliveries") %>
                <li class="nav-item">
                    <a href="<%= erp_deliveries.backend_deliveries_path %>" class="nav-link">
                        <span class="title"><%= t('.deliveries') %></span>
                    </a>
                </li>
            <% end %>
            <% if Erp::Core.available?("products") %>
                <li class="nav-item">
                    <a href="<%= erp_products.backend_damage_records_path %>" class="nav-link">
                        <span class="title"><%= t('.damage_records') %></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= erp_products.backend_stock_checks_path %>" class="nav-link">
                        <span class="title"><%= t('.stock_checks') %></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= erp_products.backend_products_path %>" class="nav-link">
                        <span class="title"><%= t('.products') %></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= erp_products.backend_categories_path %>" class="nav-link">
                        <span class="title"><%= t('.categories') %></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="<%= erp_products.backend_brands_path %>" class="nav-link">
                        <span class="title"><%= t('.brands') %></span>
                    </a>
                </li>
            <% end %>
        <% end %>
    </ul>
</li>
