<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("order_code") %>
                <th class="sortable" sort-by='erp_sales_orders.id'>
                    <%= t('.order_code') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("customer") %>
                <th>
                    <%= t('.customer') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("salesperson") %>
                <th>
                    <%= t('.salesperson') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("order_date") %>
                <th>
                    <%= t('.order_date') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("order_status") %>
                <th>
                    <%= t('.order_status') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_sales_orders.created_at'>
                    <%= t('created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% if @orders.each do |order| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: order.id) %>
                </td>
                <% if get_columns(params).include?("order_code") %>
                <td><strong><%= "#" + order.code %></strong></td>
                <% end %>
                <% if get_columns(params).include?("customer") %>
                <td><%= order.customer_name %></td>
                <% end %>
                <% if get_columns(params).include?("salesperson") %>
                <td><%= order.salesperson_name %></td>
                <% end %>
                <% if get_columns(params).include?("order_date") %>
                <td><%= order.order_date.strftime("%d/%m/%Y") %></td>
                <% end %>
                <% if get_columns(params).include?("order_status") %>
                <td>
                    <% if order.remain_order_quantity > 0 %>
                    <span class="label bg-green-steel"><%= t('.pending') %></span>
                    <% end %>
                    <% if order.remain_order_quantity == 0 %>
                    <span class="label bg-blue"><%= t('.delivered') %></span>
                    <% end %>
                    <% if order.remain_order_quantity < 0 %>
                    <span class="label bg-red-thunderbird">Lỗi số lượng giao = <%= order.remain_order_quantity %></span>
                    <% end %>
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                <td>
                    <%= erp_component('avatar', {
                        user: order.creator
                    }) %>
                </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td>
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-level-down"></i> '+t('.action_import'),
                                href: ''
                            },
                            {
                                text: '<i class="fa fa-level-up"></i> '+t('.action_export'),
                                href: ''
                            },
                            {
                                text: '<i class="fa fa-close"></i> '+t('.action_cancel'),
                                href: ''
                            }
                        ]
                    ) %>
                </td>
            </tr>
            <tr class="child-table">
                <td colspan="7">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                            <tr>
                                <th width="20%">Mã sản phẩm</th>
                                <th>Tên sản phẩm</th>
                                <th class="numeric">Giá</th>
                                <th class="numeric">Số lượng đặt hàng</th>
                                <th class="numeric">Số lượng đã giao</th>
                                <th class="numeric">Số lượng chưa giao</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% order.order_details.each do |order_detail| %>
                            <tr>
                                <td><strong>#<%= order_detail.product.code %></strong></td>
                                <td><%= order_detail.product.name %></td>
                                <td class="numeric"><%= format_number(order_detail.product.price) %> VNĐ</td>
                                <td class="numeric"><%= format_number(order_detail.quantity) %></td>
                                <td class="numeric"><%= format_number(order_detail.delivered_amount) %></td>
                                <td class="numeric"><%= format_number(order_detail.remain_quantity) %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </td>
            </tr>
        <% end.empty? %>
            <tr>
                <td colspan="7"><%= t('.no_matching_records_found') %></td>
            </tr>
        <% end %>
    </tbody>
</table>
    
<%= erp_datalist_pagination(@orders) %>