<table class="table table-hover table-striped order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("order_code") %>
                <th class="sortable" sort-by='erp_sales_orders.id'>
                    <%= t('.order_code') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("customer") %>
                <th>
                    <%= t('.customer') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("salesperson") %>
                <th>
                    <%= t('.salesperson') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("order_date") %>
                <th>
                    <%= t('.order_date') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("order_status") %>
                <th>
                    <%= t('.order_status') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("created_at") %>
                <th class="sortable" sort-by='erp_sales_orders.created_at'>
                    <%= t('created_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% if @orders.each do |order| %>
            <tr class="odd gradeX has-child-table" data-url="<%= erp_inventory.backend_order_delivery_details_path(id: order.id) %>">
                <td>
                    <%= erp_datalist_check_row(id: order.id) %>
                </td>
                <% if get_columns(params).include?("order_code") %>
                <td>
                    <i class="fa fa-plus expand tr-expand-button"></i>
                    <strong><%= "#" + order.code %></strong>
                </td>
                <% end %>
                <% if get_columns(params).include?("customer") %>
                <td><%= order.customer_name %></td>
                <% end %>
                <% if get_columns(params).include?("salesperson") %>
                <td><%= order.employee_name %></td>
                <% end %>
                <% if get_columns(params).include?("order_date") %>
                <td><%= order.order_date.strftime("%d/%m/%Y") %></td>
                <% end %>
                <% if get_columns(params).include?("order_status") %>
                <td>
                    <% if order.remain_order_quantity > 0 %>
                    <span class="label bg-green-steel"><%= t('.pending') %></span>
                    <% end %>
                    <% if order.remain_order_quantity == 0 %>
                    <span class="label bg-blue"><%= t('.delivered') %></span>
                    <% end %>
                    <% if order.remain_order_quantity < 0 %>
                    <span class="label bg-red-thunderbird">Lỗi số lượng giao = <%= order.remain_order_quantity %></span>
                    <% end %>
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                <td>
                    <%= erp_component('avatar', {
                        user: order.creator
                    }) %>
                </td>
                <% end %>
                <% if get_columns(params).include?("created_at") %>
                <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td>
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-level-down"></i> '+t('.action_import'),
                                href: ''
                            },
                            {
                                text: '<i class="fa fa-level-up"></i> '+t('.action_export'),
                                href: ''
                            },
                            {
                                text: '<i class="fa fa-close"></i> '+t('.action_cancel'),
                                href: ''
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end.empty? %>
            <tr>
                <td colspan="7"><%= t('.no_matching_records_found') %></td>
            </tr>
        <% end %>
    </tbody>
</table>
    
<%= erp_datalist_pagination(@orders) %>